{
    "useTabs": false,
    "printWidth": 140,
    "tabWidth": 2,
    "singleQuote": false,
    "trailingComma": "all",
    "jsxBracketSameLine": false,
    "parser": "typescript",
    "bracketSpacing": true,
    "semi": true
}